<style lang="scss">
    body > header {
        border-bottom: 2px solid black;
        padding: 5px 10px;
        margin-bottom: 5px;
        & > * {
            display: inline-block;
        }
        & > .icon {
            height: 3em;
            transform: translateY(25%);
        }
    }
</style>
<header>
    <img class="icon" src="/favicon.png"/>
    <h2 class="title">Emerald Templates</h2>
</header>